body {
    margin: 0;
    background-color: #FFE4DD;
    font-family: "League Spartan", sans-serif;
}

h1, h2 {
    color: #302525;
}

h1 { /* Only adding because jest doesn't like me setting this in the body */
    font-family: "League Spartan", sans-serif;
}

.orange-text {
    color: #F1432F;
}

p {
    color: #1E1E1E;
}

p, a, li, h3 {
    line-height: 1.4;
}

.fa-square-linkedin {
    transform: translateY(8px);
    color: #302525;
}

/****************   Nav Section **********************/
nav {
	background-color: #302525;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav p {
    margin: 0;
    padding: 10px;
    color: #FFE4DD;
    font-size: large;
}

nav a, nav a:visited {
    text-decoration: none;
    color: #FFE4DD;
}

nav a:hover {
    text-decoration-line: none;
    color: #F1432F;
}

/***********************  Footer Section   **************************/
footer {
	background-color: #F1DAD4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

footer p {
    margin: 0;
    padding: 10px;
}

footer a, footer a:hover {
    color: #302525;
}

/*********** Splash Page ************************/
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

header h1 {
    margin: 0 0 0 15px;
    font-size: 60px;
}

header img {
    border-radius: 5px;
}

header.contact-header {
    flex-direction: column;
}

.address {
    display: flex;
    justify-content: center;
    font-size: large;
    margin: 6px 16px 6px 16px;
}

.tagline {
    display: flex;
    justify-content: center;
    font-size: large;
    margin: 6px 16px 6px 16px;
}

/************* Sections ********************/
hr {

}

section {
    margin: 0 auto 0 auto;
    max-width: 60%;
}

section h3 {
    color: #302525;
    font-family: "League Spartan", sans-serif;
}

section dl {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
}

section dl dd {
    text-align: right;
}

section ul {
    list-style-type: square;
}

section a {
    color: #0483BD;
    text-decoration: none;
}

section a:hover {
    color: #41b1cd;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card {
    padding: 10px;
    background-color: #fdf0ec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: 1px solid #8B6E6E;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
        width: 100%;
    }
}

/**************   Contact Page   *****************/
.one-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 15px min(30%, auto) 15px min(30%, auto);
}

input {
    border: none;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    padding: 10px;
}

textarea {
    border: none;
    border-radius: 5px;
    resize: vertical;
    min-height: 32px;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    padding: 10px;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #F1432F;
    color: #F1DAD4;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}